.last-transfers-dashboard {
  background-color: #9ca3af;
  border-radius: 0.5rem;
  padding: 2rem;
  max-width: 1152px;
  margin-left: 0;
  margin-right: auto;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
